{
  "version":"0.0.6",
  "vfdata": [
   {
     "name":"Soccer",
     "version":"1.1",
     "url":"https://raw.githubusercontent.com/elmuscloud/demodata/master/vfdata/Soccer.vfdata"
   }
  ],
  "lfdata": [
    {
      "scenario":"Default",
      "version":"0.0.1",
      "url"="https://raw.githubusercontent.com/elmuscloud/demodata/master/lfdata/Default.csv"
    }
  ]
}
