{
  "version":"0.0.8",
  "vfdata": [
   {
     "name":"Soccer",
     "version":"1.1",
     "url":"https://raw.githubusercontent.com/elmuscloud/demodata/master/vfdata/Soccer.vfdata"
   }
  ],
  "lfdata":[
        {
          "name":"Default",
          "interests":[
            "Machine Learning", 
            "Augmented Reality", 
            "Gamification", 
            "3D Printing"
            ]
        },
        {
          "name":"Retail",
          "interests":[
            "Social Marketing", 
            "Merchandise Management", 
            "Design Thinking"
            ]
        },
        {
          "name":"Healthcare",
          "interests":[
            "Patient Care", 
            "AHA Certification"
            ]
        },
        {
          "name":"IT",
          "interests":[
            "Machine Learning", 
            "Augmented Reality", 
            "Gamification", 
            "3D Printing"
            ]
        }
      ]
}
