{
  "version":"0.0.3",
  "vfdata": [
   {
     "name":"Soccer",
     "version":"1.0",
     "url":"https://raw.githubusercontent.com/elmuscloud/demodata/master/vfdata/Soccer.vfdata"
   },
   {
     "name":"CashRegister",
     "version":"0.0.2",
     "url":"https://raw.githubusercontent.com/elmuscloud/demodata/master/vfdata/CashRegister.vfdata"
   },
   {
     "name":"Shoe",
     "version":"0.0.1",
     "url":"https://raw.githubusercontent.com/elmuscloud/demodata/master/vfdata/Shoes.vfdata"
   }
  ]
}
